/* bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

body {
  background-image: url(/bg.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.btn-rounded {
  border-radius: 30px;
  padding: .5em 2em;
}
.margin-negative {
  margin-top: -2em;
}
.sol {
  width: 95px;
  margin: 0 auto;
}

.sol img {
  width: 140px;
  margin: 0 auto;
}
.py-10 {
  padding: 2em 2em 5em;
}

.header {
  display: flex;
  justify-content: space-between;
}

.ondas2 {
  width: 15%;
  justify-content: end;
  align-items: center;
  padding-right: 1em;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical {
  display: flex;
  align-items: center;
}